@font-face {
  font-family: "Jovi Sans";
  src: url("/assets/fonts/jovisans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jovi Sans";
  src: url("/assets/fonts/jovisans_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jovi Sans";
  src: url("/assets/fonts/jovisans_semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
