#mockup {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0000ee;
  padding: 0 2.5rem;

  img {
    width: 100%;
    height: auto;
    margin-top: auto;
    max-width: 18rem;
  }
}
